.random-choice(class="col-xs-2 weather-#{weather.icon} temp-#{hotness}")
    .random-choice-name(title="#{country}") #{name}
    .random-choice-weather
        span(class="wi wi-#{wiclass}")
    .random-choice-infos
        .random-choice-temp #{temp}°
        .random-choice-humidity 
            img(src="/icons/humidity.svg", alt="humidity")
            | #{humidity}%

